*{
    padding: 0; margin: 0; list-style-type: none;
}
a, a:hover, a:link{
    text-decoration: none; color: black;
}
img{
    width: 100%;
}
header{
    background-color: #7abaff;
    height: 60px;
    line-height: 60px;
}
nav{
    padding-top: 30px;
    background-color: #8fd19e;
    height: 650px;
    float: left;
}
article{
    background-color: #c6c8ca;
    height: 650px;
    float: left;
}
.personal{
    float: right;
    padding-right: 20px;
    text-decoration: none;
}
.sign_out{
    padding-right: 20px;
    float: right;
}
.head_sculpture{
    margin: 0 auto;
    background-color: #86cfda;
    width: 100px;
    height: 100px;
}
.choose{
    margin-top: 15px;
}
.header{
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    width: 400px;
    height: 350px;
    background-color: #e9ecef;
    border-radius: 5px;
}
.title, .submit{
    text-align: center;
}
#vcode{
    width: 100px;
}
label, .title{
    font-weight: 600;
    color: #818182;
}
#code{
    margin-left: 10px;
    width: 100px;
    height: 50px;

}
